

@import "tailwindcss";

:root {
	--background: #0a0a0a;
	--foreground: #ededed;
}

@media (prefers-color-scheme: light) {
	:root {
		--background: #ffffff;
		--foreground: #171717;
	}
}


html, body {
	background: var(--background);
	color: var(--foreground);
	font-family: system-ui, Arial, Helvetica, sans-serif;
	transition: background 0.2s, color 0.2s;
}


